.architecture-logo {
    background: url("../img/profile/exhibition-logo.png") no-repeat 0 0;
}

.introduction-logo {
    background: url("../img/profile/exhibition-logo.png") no-repeat 0 -22px;
}

.characteristic-logo {
    background: url("../img/profile/exhibition-logo.png") no-repeat 0 -44px;
}

.main-architecture {
    width: 68%;
    height: 80%;
    float: left;
    min-height:746px;
}

.main-architecture-content {
    margin: 0 auto;
    position: relative;
}

.bgtu {
    width: 1032px;
    height: 714px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.bghover {
    width: 1032px;
    height: 714px;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.hover {
    display: block;
}

.main-introduction {
    width: 28%;
    height: 45%;
    float: right;
    margin: 0 20px;
    min-height:420px;
}

.main-introduction-content {
    position: absolute;
    margin: 0 30px;
}

.main-introduction-content > h3 {
    font-size: 20px;
    line-height: 3.6;
}

.main-introduction-content > p {
    display: block;
    font-size: 12px;
    line-height: 2;
    text-indent: 24px;
}

.main-characteristic {
    width: 28%;
    height: 25%;
    float: right;
    margin: 20px 20px;
    min-height:224px;
}

.main-characteristic-content {
    position: absolute;
    margin: 0 30px;
}

.main-characteristic-content > h3 {
    font-size: 20px;
    line-height: 3.4;
}

.main-characteristic-content > p {
    display: block;
    font-size: 12px;
    line-height: 2;
}

.characteristic-more {
    right: 30px;
    position: absolute;
    bottom: 16px;
    color: #288fcf;
}

@media screen and (max-width: 1900px){
    .architecture-logo {
        background: url("../img/profile/exhibition-logo-small.png") no-repeat 0 0;
    }

    .introduction-logo {
        background: url("../img/profile/exhibition-logo-small.png") no-repeat 0 -16px;
    }

    .characteristic-logo {
        background: url("../img/profile/exhibition-logo-small.png") no-repeat 0 -32px;
    }
    .main-architecture{
        width: 650px;
        height: 472px;
        min-height:472px;
    }

    .bgtu {
        width: 645px;
        height: 459px;
    }

    .bghover {
        width: 645px;
        height: 459px;
    }

    .main-introduction {
        width: 510px;
        height: 310px;
        margin: 0 5px;
        min-height:310px;
    }

    .main-characteristic {
        width: 510px;
        height: 180px;
        margin: 10px 5px 0 5px;
        min-height:150px;
    }
    /*change introduce - font*/

    .main-introduction-content > h3 {
        font-size: 16px;
        line-height: 2.0;
    }

    .main-characteristic-content > h3 {
        font-size: 16px;
        line-height: 2.0;
    }
}

